---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 53
IndentWidth: 2
AccessModifierOffset: -2

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

BreakConstructorInitializers: BeforeComma
AlwaysBreakTemplateDeclarations: true
SpaceAfterTemplateKeyword: false
IndentPPDirectives: AfterHash

BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true
