@require "./variables"
@require "./fonts.css"
@require "normalizecss/normalize.css"
@require "./reset"
@require "./bespoke-base-fixed"
@require "./content-types"
@require "./slide-types"
@require "./bespoke-modes"
@require "./print"
@require "prismjs/themes/prism.css"
@require "prismjs/plugins/toolbar/prism-toolbar.css"

pre.source
    text-shadow none
    border none
    box-shadow none
    padding .2em
    background none
    border 1px dashed #000
    border-left none
    border-right none

    code
        text-shadow none
        border none
        //box-shadow none
        padding 0
        background none

        > b
            display none
    
    pre.source
        padding 0
        margin 0
        border none
        overflow hidden

        &.bespoke-bullet-current
            box-shadow: inset 0 0 0 5px green
    .code-toolbar
        > .toolbar
            display: none

section.source
  padding 0
  > pre.source
    padding 0

div > div.code-toolbar > .toolbar
  top -0.2em

div.code-toolbar
    > .toolbar
        font-size .5em
        top .2em
        right 0px
        opacity 1
        span
            padding 0
            color #555
            font-size 1em
            background none
            box-shadow none
            border-radius 0

.build-items.bespoke-bullet-current > .code-toolbar > .toolbar
    display: none

.conum[data-value]
  display inline-block
  background-color #333
  border-radius 100%
  text-align center
  vertical-align text-top
  font-size 60%
  width 1.3em
  height 1.3em
  line-height 1.3em
  font-style normal
  font-weight bold
  font-family monospace
  &, *
    color #fff !important
  + b
    display none
  &::after
    content attr(data-value)
  pre &
    position relative
    top -1px
  .colist &
    vertical-align 0.5em
    margin-right 0.5em

.bespoke-slide
  ul.build
    margin 0
    > li
      display block

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string
  background: inherit;

.twitter
  display block
  position absolute
  right 20px
  bottom 20px