rem-calc(value)
  ((u = unit(value)) is "px") ? unit(round(value/16, 4), "rem") : value

$slide-width = 1920px
$slide-height = 1080px
$slide-padding = .5em
$slide-transition = none
$color-surface = #212121
$color-canvas = #fafafa
$color-text = #212121
$color-muted = #757575
$color-accent = #00897b
$color-inverse = #fff
$color-highlight = #3476bc
$color-heading = #00897b
$font-family-base = "Roboto Slab", sans-serif
$font-size-base = 4em
$sym-dblquote-left = "\201c"
$sym-dblquote-right = "\201d"
$sym-dash-em = "\2014"

$progress-transition-time = .2s
$progress-color = #07b
